* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  margin-top: 3vh;
  overflow-x: hidden;
}

.flexCont {
  display: inline-block;
  flex: 1;
  margin: 3vh 5vw 3vh 5vw;
  position: relative;
  text-align: center;
  height: 100%;
}

.listStyle {

  height: 60vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #6c757d;
  flex-direction: row;
  overflow-y: scroll;
}

.mugImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 5px solid white;
  z-index: 1;
}

.NFT-list {
  flex: 1;
}

.buttons {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.button {
  height: 7vh;
  width: 10vw;
}

.overlay {
  width: 90%;
  height: 90%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 !important;
  padding: 0 !important;

  z-index: -1;
}